@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@font-face {
  font-family: 'Glitten';
  src: url('/fonts/glitten/glitten.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  }

  @font-face {
    font-family: 'GlittenCaps';
    src: url('/fonts/glitten/glitten-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
