@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@font-face {
  font-family: 'Glitten';
  src: url('/fonts/glitten/glitten.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  }

  @font-face {
    font-family: 'GlittenCaps';
    src: url('/fonts/glitten/glitten-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  ::-webkit-scrollbar{
    height: 1px;
    background-color: #1D1C1B;
    
  } 
  ::-webkit-scrollbar-track {
    height: 1px;
    background-color: #dbd7d4;
    
  } 

  ::-webkit-scrollbar-thumb {
  height: 1px;
  background-color: #1D1C1B;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* For Firefox */
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
  }

  .button__bar {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding: 0;   
    border-radius: 40px;
    width: 70px;
    text-align: center;
    z-index: 50;
  }
  
  .button__bar li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
  }

  .button__bar ul {
    height: 0px;
  }
  
  .button__bar li button {
    border: 1px solid #E0B75B;
    position: relative;
    top: -50px;
    background: transparent;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
  }
  
  .button__bar li.slick-active button {
    background-color: #E0B75B;
  }
  
  .button__bar li button:hover,
  .button__bar li button:focus {
    background: #E0B75B;
    outline: 0;
  }

  .button__bar_team {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding: 0;   
    border-radius: 40px;
    width: 70px;
    text-align: center;
    z-index: 50;
  }
  
  .button__bar_team  li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
  }

  .button__bar_team  ul {
    height: 0px;
  }
  
  .button__bar_team  li button {
    border: 1px solid #E0B75B;
    position: relative;
    top: 20px;
    background: transparent;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
  }
  
  .button__bar_team  li.slick-active button {
    background-color: #E0B75B;
  }
  
  .button__bar_team  li button:hover,
  .button__bar_team  li button:focus {
    background: #E0B75B;
    outline: 0;
  }

  .slick-slider.slick-initialized {
    gap: 30px;
    justify-content:space-between;
    width: 100vw;
  }

  .slick-slider.slick-initialized {
    overflow: hidden;
    height: 100vh;
  }

  