@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@font-face {
  font-family: 'Glitten';
  src: url('/fonts/glitten/glitten.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  }

  @font-face {
    font-family: 'GlittenCaps';
    src: url('/fonts/glitten/glitten-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  ::-webkit-scrollbar{
    height: 3px;
    background-color: #1D1C1B;
    
  } 
  ::-webkit-scrollbar-track {
    height: 3px;
    background-color: #dbd7d4;
    
  } 

  ::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: #1D1C1B;
  }